@font-face {
  font-family: OpenSansBold;
  src: url(fonts/OpenSans-Bold.f5331c.ttf);
  font-weight: normal; }

@font-face {
  font-family: OpenSansExtraBold;
  src: url(fonts/OpenSans-ExtraBold.49f89e.ttf);
  font-weight: normal; }

@font-face {
  font-family: OpenSansLight;
  src: url(fonts/OpenSans-Light.9ff12f.ttf);
  font-weight: normal; }

@font-face {
  font-family: OpenSansRegular;
  src: url(fonts/OpenSans-Regular.d7d5d4.ttf);
  font-weight: normal; }

body {
  background-color: #f5f5f5; }

a {
  text-decoration: none; }

