@font-face {
  font-family: OpenSansBold;
  src: url('../../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OpenSansExtraBold;
  src: url('../../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OpenSansLight;
  src: url('../../fonts/Open_Sans/OpenSans-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: OpenSansRegular;
  src: url('../../fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: normal;
}
